.dropdown-countries {
  background-color: white;
}

.dropdown-countries__control {
  display: main;
}

.dropdown-countries label {
  font-size: 15px;
}

.dropdown-countries select {
  font: inherit;
  padding: 0.5rem 3rem;
}
